.about{
  padding-top:200px;
  font-family: Tahoma;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.a-img{
  margin-top: -100px;
  display: flex;
  align-items: center;
}
.avatar{
  width: 400px;
}
.a-logo{
  width: 400px;
  height: 220px;
}
.hachi{
  width: 400px;
}

.p-about{
  max-width: 1000px;
  line-height: 22px;
  text-align: left;
}

.p-hachi{
  max-width: 1000px;
  line-height: 22px;
  text-align: left;
}